<div id = "search">
<form method="POST" action="/">
  <label for="keywords">Mots clés :</label>
  <input type="text" id="keywords" name="keywords" value="">
  <label for="dateStart">De (dd/mm/YYYY) :</label>
  <input type="text" id="dateStart" name="dateStart" value="">
  <label for="dateEnd">A (dd/mm/YYYY):</label>
  <input type="text" id="dateEnd" name="dateEnd" value="">
  <label for="categorie">Categorie</label>
  <select name="categorie" id="categorie">
  		<option value = "None">None</option>
	   	<option value = "Agriculture">Agriculture and Food</option>
		<option value = "Computer">Computer and Related Services</option>
		<option value = "Construction">Construction and Real Estate</option>
		<option value = "Defence">Defence and security</option>
		<option value = "Education">Education</option>
		<option value = "Energy">Energy and Related Services</option>
		<option value = "Environment">Environment and Sanitation</option>
		<option value = "Finance">Finance and Related Services</option>
		<option value = "Materials">Materials and Products</option>
		<option value = "Mining">Mining and Ores</option>
		<option value = "Other">Other Services</option>
		<option value = "Printing">Printing and Publishing</option>
		<option value = "Research">Research and Development</option>
		<option value = "Technology">Technology and Equipment</option>
		<option value = "Transport">Transport and Related Services</option>
	</select>
	<input type="submit" value="Submit">
	<br>
</form>
</div>

